<div class="mt-8">
  <div class="mx-16 my-6">
    <span
      ><img
        src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/1.jpg"
        alt=""
      />
    </span>
  </div>
  <div>
    <div class="mx-16">
      <p class="font-sans text-xl font-normal">Sản Phẩm Mới</p>
    </div>

    <div class="pt-10 pb-6 lg:pt-[40px] lg:pb-2 mx-14">
      <div class="container mx-auto flex flex-wrap gap-4 w-auto justify-center">
        <div class="product-small box flex">
          <!-- m-2 -->
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://product.hstatic.net/1000292277/product/40_24078b6db3de412480412e0c89593cd9.jpg"
                alt=""
              />
            </div>
            <div><p>Ratih Dress</p></div>
            <div>
              <p>
                <span class="text-lg text-black">828,000đ</span>
                <del class="ml-2 text-gray-500">920,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://product.hstatic.net/1000292277/product/40_24078b6db3de412480412e0c89593cd9.jpg"
                alt=""
              />
            </div>
            <div><p>Ratih Dress</p></div>
            <div>
              <p>
                <span class="text-lg text-black">828,000đ</span>
                <del class="ml-2 text-gray-500">920,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://product.hstatic.net/1000292277/product/40_24078b6db3de412480412e0c89593cd9.jpg"
                alt=""
              />
            </div>
            <div><p>Ratih Dress</p></div>
            <div>
              <p>
                <span class="text-lg text-black">828,000đ</span>
                <del class="ml-2 text-gray-500">920,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://product.hstatic.net/1000292277/product/40_24078b6db3de412480412e0c89593cd9.jpg"
                alt=""
              />
            </div>
            <div><p>Ratih Dress</p></div>
            <div>
              <p>
                <span class="text-lg text-black">828,000đ</span>
                <del class="ml-2 text-gray-500">920,000đ</del>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
