<div class="mt-8">
  <div class="mx-16 my-6">
    <span
      ><img
        src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/slide_3_img.jpg"
        alt=""
      />
    </span>
  </div>
  <div>
    <div class="mx-16">
      <p class="font-sans text-2xl font-semibold mx-16   ">Sản Phẩm Mới</p>
    </div>

    <div class="pt-10 pb-6 lg:pt-[40px] lg:pb-2 mx-14">
      <div class="container mx-auto flex flex-wrap gap-4 w-auto justify-center">
        <div
          class="product-small box grid grid-cols-1 md:grid-cols-4 gap-6 py-4 px-12"
        >
          <!-- m-2 -->
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/fdabe2d7-12f0-474a-8b99-9ecda0be9d4c_95bd5adf35884092a30a123a93d3e4d4_master.jpg"
                alt=""
              />
            </div>
            <div><p>Áo nỉ trơn vải hiệu ứng FWTW006</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">378,000đ</span>
                <del class="ml-2 text-gray-500">420,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/cbb4526f-41b8-40cf-9e7f-361ff3d3ba63_c620e6b9dbeb49d998d5ec309f8e2ce7_master.jpg"
                alt=""
              />
            </div>
            <div><p>Áo nỉ can phối màu tay logo Horse</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">432,000đ</span>
                <del class="ml-2 text-gray-500">480,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/e36cc365-cc8e-4c9f-b3fb-2c19b141580c_c0c8b839887140e7a68bdf5818ea9890_master.jpg"
                alt=""
              />
            </div>
            <div><p>Sơ mi dài tay kẻ Oxford FATB035</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">400,000đ</span>
                <del class="ml-2 text-gray-500">500,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/dd7542b8-ffa6-4ec9-b622-1ac4170ca0e4_6f88fefae54c4d93964c512dd66693a1_master.jpg"
                alt=""
              />
            </div>
            <div><p>Sơ mi dài tay kẻ caro FATB045</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">384,000đ</span>
                <del class="ml-2 text-gray-500">450,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/fdabe2d7-12f0-474a-8b99-9ecda0be9d4c_95bd5adf35884092a30a123a93d3e4d4_master.jpg"
                alt=""
              />
            </div>
            <div><p>Áo nỉ trơn vải hiệu ứng FWTW006</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">378,000đ</span>
                <del class="ml-2 text-gray-500">420,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/cbb4526f-41b8-40cf-9e7f-361ff3d3ba63_c620e6b9dbeb49d998d5ec309f8e2ce7_master.jpg"
                alt=""
              />
            </div>
            <div><p>Áo nỉ can phối màu tay logo Horse</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">432,000đ</span>
                <del class="ml-2 text-gray-500">480,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/e36cc365-cc8e-4c9f-b3fb-2c19b141580c_c0c8b839887140e7a68bdf5818ea9890_master.jpg"
                alt=""
              />
            </div>
            <div><p>Sơ mi dài tay kẻ Oxford FATB035</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">400,000đ</span>
                <del class="ml-2 text-gray-500">500,000đ</del>
              </p>
            </div>
          </div>
          <div class="box-image max-w-72 p-2">
            <div>
              <img
                src="https://tannguyen0212.sirv.com/joven_fashion/new_arrival/dd7542b8-ffa6-4ec9-b622-1ac4170ca0e4_6f88fefae54c4d93964c512dd66693a1_master.jpg"
                alt=""
              />
            </div>
            <div><p>Sơ mi dài tay kẻ caro FATB045</p></div>
            <div>
              <p>
                <span class="text-lg text-red-500">384,000đ</span>
                <del class="ml-2 text-gray-500">450,000đ</del>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
